<div class="cassette_wrapper">
    <div class="screw" id="screw1">
        <span class="line line1"></span>
        <span class="line line2"></span>
    </div>
    <div class="screw" id="screw2">
        <span class="line line1"></span>
        <span class="line line2"></span>
    </div>
    <div class="screw" id="screw3">
        <span class="line line1"></span>
        <span class="line line2"></span>
    </div>
    <div class="screw" id="screw4">
        <span class="line line1"></span>
        <span class="line line2"></span>
    </div>
    <div class="screw" id="screw5">
        <span class="line line1"></span>
        <span class="line line2"></span>
    </div>

    <div class="cassette_body">
        <div class="sticker_body">
            <div class="text_place_wrapper">
                <span class="line_for_text line_short"></span>
                <span class="line_for_text line_long"></span>
                <span class="line_for_text line_long"></span>
            </div>
            <div class="wheel_plave_wrapper">
                <div class="plastic_glass"></div>     
            </div>
        </div>   
    </div>
</div>